<p id="notice"><%= notice %></p>
<!--
<h1>Listing Collections</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Imgurl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= collection.description %></td>
        <td><%= collection.imgurl %></td>
        <td><%= link_to 'Show', collection %></td>
        <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
        <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collection', new_collection_path %>

-->
<div class="row">
  <% @collections.each do |collection| %>
    <div class="col-xs-6 feature">
      <div class="row">
        <h1><%= collection.name %></h1>
        <div class="col-xs-6">
          <img class="img-responsive" src=<%= collection.imgurl %> alt="" />  
        </div>
        <p>
          <%= collection.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>
